<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grasswort.picker.user.dao.persistence.CaptchaMapper">
  <resultMap id="BaseResultMap" type="com.grasswort.picker.user.dao.entity.Captcha">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="receiver" jdbcType="TINYINT" property="receiver" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="open_id" jdbcType="CHAR" property="openId"/>
    <result column="captcha" jdbcType="CHAR" property="captcha" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>