<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grasswort.picker.blog.dao.persistence.BlogOssRefMapper">
  <resultMap id="BaseResultMap" type="com.grasswort.picker.blog.dao.entity.BlogOssRef">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="oss_bucket" jdbcType="VARCHAR" property="ossBucket" />
    <result column="oss_key" jdbcType="VARCHAR" property="ossKey" />
    <result column="oss_ref_id" jdbcType="BIGINT" property="ossRefId" />
    <result column="oss_ref_del_key" jdbcType="CHAR" property="ossRefDelKey" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>