<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grasswort.picker.blog.dao.persistence.BlogContentMapper">
  <resultMap id="BaseResultMap" type="com.grasswort.picker.blog.dao.entity.BlogContent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="blog_version" jdbcType="INTEGER" property="blogVersion" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="html" jdbcType="LONGVARCHAR" property="html" />
    <result column="markdown" jdbcType="LONGVARCHAR" property="markdown" />
  </resultMap>
</mapper>