<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grasswort.picker.blog.dao.persistence.RetentionCurveMapper">
  <resultMap id="BaseResultMap" type="com.grasswort.picker.blog.dao.entity.RetentionCurve">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="curve_order" jdbcType="TINYINT" property="curveOrder" />
    <result column="interval_day" jdbcType="TINYINT" property="intervalDay" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>